.HeaderContainer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 50px 0 0;
}

.Logo {
    font-size: 1.5em;
    margin: 0 auto 0 100px;
}

.ButtonsContainer {
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
    margin: 0 100px;
}

.ButtonLabel {
    padding: 20px 50px;
    cursor: pointer;
}

.ButtonLabel:hover .ButtonUnderline {
    color: red;
    width: 50px;
}

.Button {
    background: none;
    color: var(--text);

    outline: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: max-content;
    font-size: 1em;

    padding: 0;
    margin: 10px 0;
}

.ButtonUnderline {
    position: absolute;
    height: 5px;
    width: 0;
    background: var(--primary);
    transition: width .1s;
}